<!--
        Example CONFIG.XML
        uncomment field to use
-->
<CONFIG>
    <!-- Screen size if windoed mode
    <SCREENMULT value="3"/>
    -->
    <!-- Debugging and button conf
    <DUMPEVENT value="YES"/>
    -->
    <!-- use if you want to put your tracks somewhere special
            Must be absolute path
    <ROOTFOLDER value="/home/pi/RetroPie/roms/ports/lgpt/"/>
    -->
    <!-- Useful if you don't want to clone your samplelib
            Must be absolute path
    <SAMPLELIB value="/home/pi/RetroPie/roms/ports/lgpt/"/>
    -->
    <!-- Uncomment to render
    <RENDER value="FILE" />
    -->
</CONFIG>
